*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}


/* Page Actions */
.page-action-container{
    height: 2.5rem;
    background-color: #00ac47;
    display: flex;
    align-items: flex-end;
}

.page-action{
    margin: 0.5rem;
    color: #f1f2f6;
}


/* Cell Properties Action */
.cell-action-container{
    height: 2.5rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
}

.cell-action-container > * {
    display: inline-block;
    margin: 0.5rem;
}

.cell-action-container > span {
    cursor: pointer;
}

.cell-action-container > select{
    padding: 0.2rem;
    border: none;
    outline: none;
    border-radius: 2px;
}

.color-pick{
    position: relative;
}

.color-pick > input{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    width: 99%;
}

/* Formula Actions */

.formula-action-container{
    height: 2rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0 0.5rem;
}

.formula-action-container > *{
    display: inline-block;
}

.formula-action-container > input{
    border: none;
    outline: none;
    height: 70%;
}

.formula-icon{
    width: 1rem;
}

.address-bar{
    width: 5rem;
    text-align: center;
}

.formula-bar{
    width: calc(100vw - 1.4rem - 1rem - 1rem - 5rem);
}

/* Sheet Actions */

.sheet-action-container{
    height: 2.5rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
}

.sheet-tab-container{
    height: 80%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sheet-tab{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 0.9rem;
    cursor: pointer;
}

.sheet-add-icon{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: 0.2rem;
    cursor: pointer;
}


/* Gridf Container   */
.grid-container{
    height: calc(100vh - 2.5rem - 2.5rem - 2rem - 2.5rem);
    position: relative;
    overflow: auto;
    /* width: 100vw; */
}

.top-left-square-box{
    width: 1.5rem;
    height: 1.5rem;
    background-color: aqua;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.left-row-address-container{
    width: 1.5rem;
    /* height: 10rem; */
    display: block;
    position: sticky;
    top: 1.5rem;
    left: 0;
    z-index: 1;
    background-color: #ecf0f1;
}

.row-address{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcdcdc;
}

.cell-container{
    position: absolute;
    top: 0;
    left: 1.5rem;
    /* height: auto; */
}

.top-col-address-container{
    display: flex;
    position: sticky;
    top: 0;
    left: 1.5rem;
    z-index: 1;
    background-color: #ecf0f1;
}

.col-address{
    height: 1.5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcdcdc;
}

.cell-row{
    display: flex;
}

.cell {
    border: 1px solid #dcdcdc;
    height: 1.5rem;
    width: 5rem;
    outline: none;
}